<div class="container jumbotron">
<h1>Login</h1>
<h3>Welcome to eFinancialCounsellor, pls login to start the admission process.</h3>
</div>

<%= render "partials/flash" %>

<div class="container">
<%= form_for :user do |f| %>
  <%= f.text_field :personal_id, placeholder: "Enter your personal_id/FIN", class: "fontinput form-control" %> <br>
  <%= f.password_field :password, placeholder: "Enter your password", class: "fontinput form-control"%>
  <br>
  <%= f.submit "Login", class: 'btn btn-primary btn-lg'%>
<% end %>
</div>
