
<div class="container">
 <div class="page-header">
    <h1>Please edit you insurance details</h1>
  </div><br>
   <%= form_for :insurance, url: insurance_path(@insurance), html: {method: "patch"} do |t| %>

     <%= t.label :insurance_company %>
     <%= t.text_area :insurance_company, class:"form-control" %>

     <%= t.label :insurance_name %>
     <%= t.text_area :insurance_name, class:"form-control" %>

     <%= t.label :insurance_type %>
     <%= t.text_area :insurance_type, class:"form-control" %>

     <%= t.label :claimable_amount %>
     <%= t.text_area :claimable_amount, class:"form-control"  %>
      <br>
    <%= t.submit "Save changes", class: "btn btn-primary btn-lg" %>
    <% end %>

</div>
