<div class="container jumbotron">
<h1>Login</h1>
<h3>Welcome to eFinancialCounsellor, pls login to start the admission process.</h3>
</div>

<%= render "partials/flash" %>

<%= form_for :user do |f| %>
  <%= f.text_field :personal_id, placeholder: "Enter your NRIC/FIN" %>
  <%= f.text_field :password, placeholder: "Enter your password" %>

  <%= f.submit "Login" %>
<% end %>
