<div class="container">
  <div class="page-header">
    <h1>Register</h1>
  </div>

  <div>
  <%= form_for @user, url: users_path do |f| %>
  <% if @user.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@user.errors.count, "error") %>
         prohibited this user from signing up:</h2>
       <ul>
         <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
       </ul>
     </div>
     <% end %>
  <%= f.text_field :personal_id, placeholder: "Enter your personal_id/FIN", class: 'form-control fontinput' %> <br>
  <%= f.text_field :name, placeholder: "Enter your name", class: 'form-control fontinput' %> <br>
  <%= f.text_field :email, placeholder: "Enter your email", class: 'form-control fontinput' %> <br>
  <%= f.password_field :password, placeholder: "Enter your password", class: 'form-control fontinput' %> <br>
  <%= f.text_field :contact_no, placeholder: "Enter your contact number", class: 'form-control fontinput' %> <br>

  <%= f.submit "Register", class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
</div>
