<div class="container">
  <div class="container page-header">

    <h1> User Profile | <%= link_to "Insurance Details", insurance_index_path %> | <%= link_to "Next-of-kin Details", edit3_patient_path %></h1>

  </div>


<table>
  <thead>
    <%= render 'partials/flash' %>
    <tr>
      <th>personal_id / FIN</th>
      <td><%= current_user.personal_id %></td>
    </tr>

    <tr>
      <th>Email address</th>
      <td><%= current_user.email %></td>
    </tr>

    <tr>
      <th>Contact number</th>
      <td><%= current_user.contact_no %></td>
    </tr>

  </thead>
</table><br>
<%= button_to "Update profile", edit_user_path(current_user.id), class: 'btn btn-lg btn-primary', method: :get %>
<br>

<%= button_to "Your Latest Admission", patient_admission_path(current_user.id), class: 'btn btn-lg btn-primary', method: :get %> <br>

<%= link_to 'See Past Admissions', patient_admissions_path, class:"btn btn-lg btn-primary" %>

</div>
