
  <fieldset>
    <legend> Bill Based On Ward A Chosen </legend>

    <p>
      <label>Subsidy available to you based on means testing</label><br>
      <%=@subsidyA * 100 %>% <br>
      <label> Length of stay </label><br>
      <%=@patient.length_of_stay%><br>
      <label> Cost per day </label><br>
      $ <%=@wardA.cost_per_day%><br>
      <label> Before Subsidy </label><br>
      $ <%= @wardA.cost_per_day * @patient.length_of_stay %><br>
      <label> After Subsidy </label><br>
      $ <%= @aftersubsidy = @wardA.cost_per_day * @patient.length_of_stay %><br>
      <label> Medisave Claimable </label><br>
      $ <%=@patient_record.medisave%><br>
      <label> Cash payable </label><br>
      $ <% if @patient_record.medisave - @aftersubsidy > 0 %>
      <%= 0 %>
      <% else %>
      <% (@patient_record.medisave - @aftersubsidy).abs %>
      <% end %>
      <!-- have to put in logic that the ward availability number reduces after selection -->
    </p>
  </fieldset>
