<%=form_for :patient, url: patient_admission_path(current_user.id), method: "Patch" do |f| %>
<fieldset>
  <legend> Bill Based On Ward B1 Chosen </legend>

  <p class="wardfont">
    <label>Subsidy available to you based on means testing</label><br>
    <%=@subsidy_B1 * 100 %>% <br>
    <label> Length of stay </label><br>
    <%=@patient.length_of_stay%><br>
    <label> Cost per day </label><br>
    $ <%=@wardB1.cost_per_day%><br>
    <label> Before Subsidy </label><br>
    $ <%= f.text_field :bill_amount, value: @wardB1.cost_per_day * @patient.length_of_stay %><br>
    <label> After Subsidy </label><br>
    $ <%= @aftersubsidy = @wardB1.cost_per_day * @patient.length_of_stay * (1 - @subsidy_B1) %><br>
    <label> Medisave Claimable </label><br>
    <% if @patient_record.medisave > @aftersubsidy %>
    $ <%=f.text_field :claim_medisave, value:  @aftersubsidy %>
    <% elsif @patient_record.medisave < @aftersubsidy %>
    <%=f.text_field :claim_medisave, value:  @patient_record.medisave %>
    <% elsif @patient_record.medisave == 0 %>
    <%=f.text_field :claim_medisave, value: 0 %>
    <% end %> <br>
    <label> Cash payable </label><br>
    $ <% if @patient_record.medisave - @aftersubsidy > 0 %>
    <%= f.text_field :pay_cash, value: 0 %>
    <% else %>
    <% f.text_field :pay_cash, value: (@aftersubsidy - @patient_record.medisave).abs %>
    <% end %> <br>
    <%= f.hidden_field :ward_selected, value: 'B1' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :confirm, value: true %> <br>
    <%= f.submit "Save My Selection", class: "btn btn-primary btn-lg" %>
  </p>
</fieldset>
<% end %>
