<div class="container">
  <div class="page header">
    <h1> Your Bill <small> <br> Click on the various ward selections to determine your estimated bill size.</small> </h1>
  </div>

  <div class="container selectbox">
    <% @ward.each do |w| %>
    <label class="radio-inline fontselect">
      <input type="radio" name="optradio" value="<%=w.ward_type%>"> Ward: <%= w.ward_type %> |
      <span> Availability: <%= w.availability %></span>
    </label>
    <%end%>
  </div>

  <div class="container">
    <br>
    <div id="ward">
    </div>
  </form>
</div>
</div>

<script>
$('input[type=radio][name=optradio]').change(function () {
  // check radio button value by this.value
  // hide div blocks by $('div#id').hide();
  if (this.value === 'A') {
    $('#ward').html('<%=j render :partial => "warda" %>')
  } else if (this.value === 'B1') {
    $('#ward').html('<%=j render :partial => "wardb1" %>')
  } else if (this.value === 'B2') {
    $('#ward').html('<%=j render :partial => "wardb2" %>')
  } else if (this.value === 'C') {
    $('#ward').html('<%=j render :partial => "wardc" %>')
  }
})
</script>
