<h1>PatientAdmissions#new</h1>
<p>Find me in app/views/patient_admissions/new.html.erb</p>

<form>
  <div class="container" style="border:1px solid black">
    <h4>Ward selection: </h4><br>
    <% @ward.each do |w| %>
    <%#= w.inspect %>
    <label class="radio-inline">
      <input type="radio" name="optradio" value="<%=w.ward_type%>"> Ward: <%= w.ward_type %> |
      <span> Availability: <%= w.availability %></span>
    </label>
    <%end%>
  </form>
</div>

Patient Name:
NRIC:
Treatment:
Length of stay:
Start treatment:
End treatment:
Doctor-in-charge:

<form>
  <div class="container" style="border:1px solid black">
    <%= render 'partials/warda' %> <br>
    <%= render 'partials/wardb1' %> <br>
    <%= render 'partials/wardb2' %> <br>
    <%= render 'partials/wardc' %> <br>DOM manipulation -> onclick do something
    # page renders based on the wards selected
  </form>
</div>
