<h1>PatientAdmissions#new</h1>
<p>Find me in app/views/patient_admissions/new.html.erb</p>

<form>
  <div class="container" style="border:1px solid black">
    <h4>Ward selection: </h4><br>
    <% @ward.each do |w| %>
    <%#= w.inspect %>
    <label class="radio-inline">
      <input type="radio" name="optradio" value="<%=w.ward_type%>"> Ward: <%= w.ward_type %> |
      <span> Availability: <%= w.availability %></span>
    </label>
    <%end%>
  </form>

  <%=form_for :patient, url: patient_admission_path(current_user.id), method: "Patch" do |f| %>
  <div id="ward">
  </div>
</form>
</div>
<%end%>

<script>
$('input[type=radio][name=optradio]').change(function () {
  // check radio button value by this.value
  // hide div blocks by $('div#id').hide();
  if (this.value === 'A') {
    $('#ward').html('<%=j render :partial => "warda" %>')
  } else if (this.value === 'B1') {
    $('#ward').html('<%=j render :partial => "wardb1" %>')
  } else if (this.value === 'B2') {
    $('#ward').html('<%=j render :partial => "wardb2" %>')
  } else if (this.value === 'C') {
    $('#ward').html('<%=j render :partial => "wardc" %>')
  }
})
</script>
