<div class="container page-header">
  <h1>Your Lastest Admission Summary</h1>
</div>

<div class="container">
  <h3>Your name is: <%= @current_user.name %> </h3>
  <br>
  <table class="responstable">
  <thead>
    <tr>
      <th>Treatment Description</th>
      <td><%= @patient.treatment %></td>
    </tr>
    <tr>
      <th>Length of Stay</th>
      <td><%= @patient.length_of_stay %></td>

    </tr>
    <tr>
      <th>Ward Selected</th>
      <td><%= @patient.ward_selected %></td>

    </tr>
    <tr>
      <th>Bill Amount</th>
      <td><%= @patient.bill_amount %></td>

    </tr>
    <tr>
      <th>Treatment Start Date</th>
      <td><%= @patient.start_treatment %></td>

    </tr>
    <tr>
      <th>Treatment End Date</th>
      <td><%= @patient.end_treatment %></td>

    </tr>
    <tr>
      <th>Doctor-in-charge</th>
      <td><%= @patient.doctor_in_charge %></td>

    </tr>
    <tr>
      <th>Opted for Financial Counselor</th>
      <td><%= @patient.financial_counsel %></td>

    </tr>
    <tr>
      <th>Admission Completed</th>
      <td><%= @patient.confirm %></td>
    </tr>
  </thead>
  </table>
  <br>
    <%= button_to "Next", edit_patient_path, class: 'btn btn-lg btn-primary', method: :get %>

  </div>
